body {
   font-family: Roboto,sans-serif;
}

.pic {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.jay {
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-family: Roboto,sans-serif;
}

#profile__img {
    display: flex;
    justify-content: center;
    width: 6%;
    height: 5%;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}

.arrow {
    border: 1px dotted #3a3c3f;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 25%;
    top: 35px;
}

.dot {
    display: none;
}

/*.buttons {
    justify-content: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
}*/

.forA {
    text-decoration: none;
    justify-content: center;
    
}

.buttons {
    direction: flex;
    justify-content: center;
    font-weight: 400px;
    font-size: 16px;
    width: 100%;
    height: 85px;
    border-radius: 10px;
    display: block;
    border: none;
    margin: 24px;
    padding: 14px 28px;
    text-align: center;
    background-color: #eaecf0;
}

button:hover {
    background-color: #d7d9dd;
}

.btn {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 12%;
    margin-right: 15%;
    justify-content: center;
}

.slackngit {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    border-bottom: 2px solid #f2f4f6;
    padding-bottom: 7%;
    margin: 0 10%;
}

.slack {
    margin-right: 8px;
    padding: 0 0;
    border: 0 0;
}

.git {
    margin-left: 8px;
    padding: 0 0;
    border: 0 0;
}

.footerDiv2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 10%;
}

/*  .footerDiv1 {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
}  */

span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 40px;
    color: #e7332b;
    margin: 0 0;
    padding: 0 0;
    border: 0 0;
}

h3{
    margin: 0 0;
    padding: 0 0;
    border: 0 0;
    font-size: 25px;
}

p {
    margin-top: 22px;
    padding: 0 0;
    border: 0 0;
    font-size: 15px;
    color: #8c94a3;
}

.internship {
    margin: 0 0;
    padding: 0 0;
    border: 0 0;
    font-size: 25;
}

h4 {
    margin: 0 0;
    padding: 0 0;
    border: 0 0;
}

.footerImg {
    margin-top: 22px;
    padding: 0 0;
    border: 0 0;
    height: 32px; 
}

.contactContainer {
    height: 62vh;
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 20vh;
}

form {
    width: 50vw;
}

.footerLine {
    border-bottom: 2px solid #f2f4f6;
    justify-content: center;
    display: flex;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
}
/*
.footerLine:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 50%;
    border-top: 3px solid #000;
  }*/

  .borderTry {
    display: flex;
    flex-direction: column;
  }

.flnames {
    display: flex;
    flex-direction: row;
}

.contactNameBoxes {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 3%;
}

.fname {
    margin-right: 2%;
    width: 48%;
}

.lname {
    margin-left: 2%;
    width: 48%;
}

.contactMessage {
    display: flex;
    flex-direction: column;
}

.contactEmail {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

input {
    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    height: 5vh;
    font-weight: 400;
    font-size: 12px;
    text-indent: 10px;
    margin-top: 2%;
}

textarea {
    background: #FFFFFF;
    /* Gray/300 */
    
    border: 1px solid #D0D5DD;
    /* Shadow/xs */
    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    line-height: 7vh;
    padding-top: 0;
    text-indent: 10px;
    font-size: 13px;
    letter-spacing: -1px;
    width: 100%;
   /* padding-top: 5px; */
}

#btn__submit {
    width: 100%;
    margin-top: 5%;
    height: 9%;
    border: 0;
    border-radius: 8px;
    background-color: #1570ef;
    color: white;
}


@media only screen and (max-width: 768px) {
    .arrow{
        display: none;
    }

    .footerDiv2 {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15%;
    }

    .footerDiv1 {
        margin-top: 40%;
    }
    .dot {
    border: 1px dotted #3a3c3f;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 8%;
    top: 35px;
    display: block;
    }

    .btn {
        margin-right: 7%;
        margin-left: 0%;
    }

    .internship {
        margin-right: 50%;
    }

    .hng {
        margin-right: 50%;
    }
}
